<div class="well">

  <div class="row">
    <div class="col-xs-4">
      <%= image_tag committee.avatar.url(:thumb) %>
    </div>
    <div class="col-xs-4">
      <h4><%= committee.name %></h4>
    </div>
  </div>
</div>